KAFKA_BOOTSTRAP_SERVERS=localhost:9092
ORDERS_MONGODB_URI=mongodb://localhost:27017/orders_db
PAYMENTS_MONGODB_URI=mongodb://localhost:27018/payments_db
INVENTORY_MONGODB_URI=mongodb://localhost:27019/inventory_db
SHIPMENTS_MONGODB_URI=mongodb://localhost:27020/shipments_db
VITE_API_BASE_URL=http://localhost:8081
